@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBC8AB;
  --foreground: #3C1908;
  --primary: #C85925;
  --secondary: #E28F60;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.image-blur-placeholder {
  display: none;
}

@layer utilities {
  .transition-smooth {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes textFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-fade-in {
  animation: textFadeIn 500ms ease-in-out forwards;
}

.duration-750 {
  transition-duration: 750ms;
}

.ease-custom {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes cursor {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-cursor {
  animation: cursor 1s infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}